<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>sample</title>
  <link rel="stylesheet" href="./lib/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" /> -->

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.16/vuetify.css"> -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

</head>

<body>
  <div id="app">

    <div class="content" @mousemove="resizeFrame">

      <div class="left-frame inner" v-bind:style="{width:leftWidth + 'px'}">
        <v-app id="vappleft">
          <v-content>
            <v-container fluid grid-list-md>
              <!-- -------------------------------------------------- -->
              <v-layout justify-start class="mt-5">
                <v-flex xs12>
                  <v-btn @click="addItem" width="100%" color="primary" depressed rounded dark>add item
                    <v-icon dark right>mdi-plus-circle</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>

              <!-- -------------------------------------------------- -->
              <v-layout justify-start v-for="(dataItem, index) in dataItemList" :key="index">
                <v-flex xs12>
                  <v-card flat color="amber lighten-3" class="display-1 text--primary" 
                    :data-index="index"
                    :data-name="dataItem.name" 
                    :data-id="dataItem.id" 
                    :data-password="dataItem.password"
                    :data-other1="dataItem.other1" 
                    :data-other2="dataItem.other2"
                    :data-text="dataItem.text"

                    :data-tagid="dataItem.tagId" 
                    :data-tagpassword="dataItem.tagPassword"
                    :data-tagother1="dataItem.tagOther1" 
                    :data-tagother2="dataItem.tagOther2"

                    @click="selectDataCurrentItem"
                    >
                    {{dataItem.name}}
                  </v-card>
                </v-flex>
              </v-layout>

            </v-container>
          </v-content>
        </v-app>



      </div>
      <div class="cent-frame inner" :style="{width:centWidth + 'px', left:leftWidth + 'px'}"
        :class="changeWitdh()" @mousedown="startResize">
      </div>
      <div class="rght-frame inner">

        <v-app id="vappRight">
          <v-content>
            <v-container fluid grid-list-md>
              <!-- -------------------------------------------------- -->
              <v-layout justify-start class="mt-5">
                <v-flex xs12>
                  <v-layout justify-start>
                    <v-flex xs11>
                      <v-text-field 
                        outlined 
                        v-model="dataSelectItem.index"
                        >
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>

              <!-- name -------------------------------------------------- -->
              <v-layout justify-start class="mt-5">
                <v-flex xs12>
                  <v-layout justify-start>
                    <v-flex xs11>
                      <v-text-field outlined 
                        :background-color="methodSetColor('name')" 
                        :placeholder="dataDictionary.placeholderBody"
                        v-model="dataSelectItem.name" 
                        @change="setDataSelectItem('name')" 
                        >
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>

              <!-- ■■■ id -------------------------------------------------- -->
              <v-layout justify-start class="mt-n5">
                <v-flex xs12>
                  <v-layout justify-start>
                    <v-flex xs3>
                      <v-text-field 
                        id="tagId"
                        outlined 
                        dense 
                        :background-color="methodSetColor('tagId')" 
                        :placeholder="dataDictionary.placeholderTag"
                        v-model="dataSelectItem.tagId"
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs8>

                      <v-text-field 
                        id="id"
                        outlined dense 
                        :background-color="methodSetColor('id')" 
                        v-model="dataSelectItem.id"

                        :prepend-inner-icon="methodSetPrependIcon('id')" 
                        @click:prepend-inner="pasteToClipBoard('id')" 
                        :placeholder="dataDictionary.placeholderBody"

                        :append-icon="methodSetAppendIcon('id')" 
                        @click:append="methodSetAppendIconStatus('id')"
                        :type="methodSetTextType('id')" 
                      >
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>

              <!-- -------------------------------------------------- -->
              <v-layout justify-start class="mt-n6">
                <v-flex xs12>
                  <v-layout justify-start>
                    <v-flex xs3>
                      <v-text-field 
                        id="tagPassword"
                        outlined 
                        dense 
                        :background-color="methodSetColor('tagPassword')" 
                        :placeholder="dataDictionary.placeholderTag"
                        v-model="dataSelectItem.tagPassword"
                      >
                      </v-text-field>

                    </v-flex>
                    <v-flex xs8>
                      <v-text-field 
                      id="password"

                        outlined dense 
                        :background-color="methodSetColor('password')" 
                        v-model="dataSelectItem.password"

                        :prepend-inner-icon="methodSetPrependIcon('password')" 
                        @click:prepend-inner="pasteToClipBoard('password')" 
                        :placeholder="dataDictionary.placeholderBody"

                        :append-icon="methodSetAppendIcon('password')" 
                        @click:append="methodSetAppendIconStatus('password')"
                        :type="methodSetTextType('password')" 
                      >
                      </v-text-field>

                      </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>

              <!-- -------------------------------------------------- -->
              <v-layout justify-start class="mt-n6">
                <v-flex xs12>
                  <v-layout justify-start>
                    <v-flex xs3>

                        <v-text-field 
                        id="tagOther1"
                        outlined 
                        dense 
                        :background-color="methodSetColor('tagOther1')" 
                        :placeholder="dataDictionary.placeholderTag"
                        v-model="dataSelectItem.tagOther1"
                        ></v-text-field>

                        
                      </v-flex>
                    <v-flex xs8>


                        <v-text-field 
                        id="other1"
                        outlined dense 
                        :background-color="methodSetColor('other1')" 
                        v-model="dataSelectItem.other1"

                        :prepend-inner-icon="methodSetPrependIcon('other1')" 
                        @click:prepend-inner="pasteToClipBoard('other1')" 
                        :placeholder="dataDictionary.placeholderBody"

                        :append-icon="methodSetAppendIcon('other1')" 
                        @click:append="methodSetAppendIconStatus('other1')"
                        :type="methodSetTextType('other1')" 
                      >
                      </v-text-field>

                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>

              <!-- -------------------------------------------------- -->
              <v-layout justify-start class="mt-n6">
                <v-flex xs12>
                  <v-layout justify-start>
                    <v-flex xs3>
                        <v-text-field 
                        id="tagOther2"
                        outlined 
                        dense 
                        :background-color="methodSetColor('tagOther2')" 
                        :placeholder="dataDictionary.placeholderTag"
                        v-model="dataSelectItem.tagOther2"
                      >
                      </v-text-field>

                      </v-flex>
                    <v-flex xs8>
                        <v-text-field 
                        id="other2"
                        outlined dense 
                        :background-color="methodSetColor('other2')" 
                        v-model="dataSelectItem.other2"

                        :prepend-inner-icon="methodSetPrependIcon('other2')" 
                        @click:prepend-inner="pasteToClipBoard('other2')" 
                        :placeholder="dataDictionary.placeholderBody"

                        :append-icon="methodSetAppendIcon('other2')" 
                        @click:append="methodSetAppendIconStatus('other2')"
                        :type="methodSetTextType('other2')" 
                      >





                      </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>

              <!-- -------------------------------------------------- -->
              <v-layout justify-start class="mt-n5">
                <v-flex xs12>
                  <v-layout justify-start>
                    <v-flex xs11>
                        <v-textarea
                        id="text"
                        label="free text area"
                        outlined dense 
                        rows="8"
                        :background-color="methodSetColor('text')" 
                        v-model="dataSelectItem.text"
                        :placeholder="dataDictionary.placeholderBody"
                      >
                      </v-textarea>

                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>


            </v-container>
          </v-content>
        </v-app>


    <!-- 
    <button v-on:click="openFile">Open</button>
    <button v-on:click="saveFile">Save</button>

    <br>
    <textarea id="preview" v-model="aaa"></textarea>
    <br> -->

      </div>

    </div>


  </div>

  <style>
    #vappRight {
      width: 100%;
    }

    #vappleft {
      width: 100%;
    }

    body {
      margin: 0;
      font-family: 'Noto Sans Mono CJK JP Regular', 'MS Gothic', 'Osaka', Consolas, 'Courier New', Courier, Monaco, monospace;
    }

    #app {
      width: 100vw;
      height: 100vh;
    }

    .content {
      display: flex;
    }

    .inner {
      display: inline-flex;
    }

    .left-frame {
      background-color: rgb(240, 240, 255);
      height: 100vh;

    }


    .cent-frame {
      height: 100vh;
      /* background-color: rgb(208, 208, 208); */
      /* border: solid 0.5px white; */
      /* border-left: solid 0.5px rgb(170, 170, 170); */
      /* border-right: solid 0.5px black; */
    }

    .cent-frame:hover {
      cursor: col-resize;
    }

    .rght-frame {
      background-color: white;
      flex-grow: 1;
      /* padding-left: 10px; */
    }

    .frame {
      display: flex;
      flex-direction: row;
      height: 100vh;
    }

    .dragged * {
      cursor: col-resize;
    }

    .pink {
      background-color: pink;
    }

    .grey {
      background-color: lightgrey;
    }
  </style>
  <style lang="scss">
    * :not(.v-icon) {
      font-family: 'Noto Sans Mono CJK JP Regular', 'MS Gothic', 'Osaka', Consolas, 'Courier New', Courier, Monaco, monospace;
    }
  </style>

  <script src="./lib/vue.min.js"></script>

  <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CMutationObserver" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.16/vuetify.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/v-tooltip"></script>
  <script src="index.js"></script>

  <script>
    window.jQuery = window.$ = require('./lib/jquery.min');
  </script>
  <script src="./lib/crypto-js.min.js"></script>
</body>

</html>